<header id="header-wrap" class="headerbg">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4">

       <div class="row" class="slider-container">
         <div class="col-sm-4"></div>
         <div class="col-sm-4" *ngIf="responseData.length">
          <app-event-slider  [minValue]="minValue" [responseData]="responseData" [maxValue]="maxValue"  [step]="step" [stepValues]="stepValues" (sliderChange)="sliderChange($event)"></app-event-slider>
         </div>
         <div class="col-sm-4"></div>
       </div>
       

      </div>
      <div class="col-sm-4"></div>
      
    </div>
   
  </div>

  
</header>
